.sidebar {
    width: 240px;
    height: 100%;
    background: #4d5656;
    .sidebar-header {
        padding: 1rem 2rem;
    }
}
/*override ngx-bootstrap space in sidebar*/
:host /deep/ {
    .card-body{
        padding: 0.2rem 1rem !important; 
    }
}